include ../partials/header.pug

title Show Page
link(type="text/css" rel="stylesheet" href="../styles/show.css")
body.mainshow
    .mainroom
        .mainroom-top
            h3 Dan Gathers Blog
    .showroom
        .showroom-wrapper
            .showroom-title
                h1.show-title= blogShow.title
            .showroom-desc
                p.show-desc= blogShow.description
            .showroom-image
                img.show-image(src=blogShow.image)
            .showroom-blogpost
                p.show-blogpost= blogShow.blogpost
            .showroom-sig
                p.show-sig By #[a.git-link(href="https://github.com/DanGathers") Dan Gathers]
            .showroom-date
                p.show-date= blogShow.created
            br
            a.edit-blog(href='/blogs/edit/' + blogShow._id) Edit Blog
            form(action='/blogs/' + blogShow._id + '?_method=DELETE' method="POST")
                br
                button.del-button Delete Blog
                p.com-submit
                    a.comSubmit(href="/blogs/" + blogShow._id + "/comments/new") add comment
        .comment-box
             